.heading {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  padding: 25px;
  margin: 15px;
}

body {
  margin: 0;
  font-size: 28px;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #d1d3d4;
}

p {
  color: white;
}

.header {
  padding: 30px;
  text-align: center;
}

.navbar-brand {
  font-size: 32px !important;
}

.navbar-menu {
  list-style: none;
}

.navbar {
  overflow: hidden;
  background-color: black;
}

.navbar a {
  float: left;
  display: block;
  color: #273033;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.navbar {
  background-color: #E3E5E6;
  padding: 25px;
}

.container-fluid {
  margin: 0px;
  padding: 0px !important;
}

.col-md {
  padding: 0px !important;
}

.about, .portfolio, .contact, p {
  align-content: center;
}

.img {
  padding: 25px;
  display: block;
}

.about {
  background-color:#d1d3d4;
  height: 500px;
  color: #273033;
  padding: 100px;
}

.portfolio {
  background-color: #B6E3F2;
  height: 500px;
  color: 273033;
  padding: 100px;
}

.contact {
  background-color: #273033;
  height: 500px;
  color: white;
  padding: 100px;
}

.style-tiles {
  background-color: #E3E5E6;
  color: black;
}

.style-tiles, p {
  color: black;
  padding: 10px;
  margin-bottom: 50px;
}

footer {
  background-color: black;
  color: #E3E5E6;
}

a {
  color: rgb(46, 104, 170);
}

/*
SOCIAL
*/

.material-icons {
  font-size: 30px !important;
  padding: 15px;
}

.social {
  padding: 15px;
  margin: 0px;
}

.fa {
  padding: 10px;
  font-size: 30px !important;
  width: 5% !important;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  text-decoration-line: none;
  background-color: white;
  border-radius: 50%;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-linkedin:hover {
  color: #4072ad;
}

.fa-github:hover {
  color: black;
}

.fa-twitter, .fa-linkedin, .fa-github {
  color: white;
}
